# Desafio

Tente se desafiar um pouco fazendo os desafios extras. Qualquer dúvida, é só falar no grupo, estamos por aqui o/

### 1) Acesse a api da camara, e recupere os reembolsos do ano de 2018

In [3]:
import requests

# fazendo o download do conteúdo do arquivo

# desse modo o arquivo é baixado e lido localmente

# url = f"http://www.camara.leg.br/cotas/Ano-2018.csv.zip"
# r = requests.get(url)

# with open(f"Ano-2018.csv.zip", "wb") as code:
#     code.write(r.content)
    
# from zipfile import ZipFile

# zip_file = ZipFile(f"Ano-2018.csv.zip", "r")
# zip_file.extract(member=f"Ano-2018.csv", path="reembolso-2018")
# zip_file.close()

### 2) Leia o Arquivo csv

In [1]:
import pandas as pd

pd.set_option("display.max_columns", None)

DTYPE = {
    "txNomeParlamentar": str,
    "cpf": str,
    "ideCadastro": str,
    "nuCarteiraParlamentar": str,
    "nuLegislatura": str,
    "sgUF": str,
    "sgPartido": str,
    "codLegislatura": str,
    "numSubCota": str,
    "txtDescricao": str,
    "numEspecificacaoSubCota": str,
    "txtDescricaoEspecificacao": str,
    "txtFornecedor": str,
    "txtCNPJCPF": str,
    "txtNumero": str,
    "indTipoDocumento": str,
    "datEmissao": str,
    "vlrDocumento": float,
    "vlrGlosa": str,
    "vlrLiquido": float,
    "numMes": str,
    "numAno": str,
    "numParcela": str,
    "txtPassageiro": str,
    "txtTrecho": str,
    "numLote": str,
    "numRessarcimento": str,
    "nuDeputadoId": str,
    "ideDocumento": str,
}

df2018 = pd.read_csv(f"http://www.camara.leg.br/cotas/Ano-2018.csv.zip", sep=";", compression="zip", dtype=DTYPE)

### 3) Visualize 10 linhas aleatórias

In [2]:
df2018.sample(10)

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,numEspecificacaoSubCota,txtDescricaoEspecificacao,txtFornecedor,txtCNPJCPF,txtNumero,indTipoDocumento,datEmissao,vlrDocumento,vlrGlosa,vlrLiquido,numMes,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,datPagamentoRestituicao,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
157981,Diego Andrade,99316552672,160588,228,2015,MG,PSD,55,999,PASSAGEM AÉREA - RPA,0,NaN,Cia Aérea - AZUL,092.962.950/0016-0,Bilhete: SK152R,0,2018-07-30T00:00:00,300.00,0,300.00,7,2018,0,Diego Andrade,CNF/BSB,0,0,NaN,NaN,2289,1589845,NaN
244698,Tadeu Alencar,35284420420,178922,161,2015,PE,PSB,55,12,ASSINATURA DE PUBLICAÇÕES,0,NaN,DIARIO DE PERNAMBUCO S A,108.034.920/0010-7,102490,4,2018-11-30T00:00:00,51.30,0,51.30,11,2018,0,NaN,NaN,1544562,NaN,NaN,NaN,2945,6713059,https://www.camara.leg.br/cota-parlamentar/not...
90701,Marco Maia,47500867034,133373,617,2015,RS,PT,55,122,"SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO",0,NaN,CONCESSIONARIA DE RODOVIAS MINAS GERAIS GOIAS S/A,192.080.220/0017-0,F531,1,2018-04-08T00:00:00,5.80,0,5.80,4,2018,0,NaN,NaN,1484239,NaN,NaN,NaN,1742,6552177,https://www.camara.leg.br/cota-parlamentar/doc...
72830,JAIME MARTINS,17614899687,74665,240,2015,MG,PROS,55,11,SERVIÇOS POSTAIS,0,NaN,AGENCIA COSTA E RIBEIRO LTDA,866.414.380/0017-4,1463871673,1,2018-04-26T00:00:00,84.70,0,84.70,4,2018,0,NaN,NaN,1490609,NaN,NaN,NaN,1050,6569164,https://www.camara.leg.br/cota-parlamentar/doc...
77894,Jandira Feghali,43428169700,74848,305,2015,RJ,PCdoB,55,11,SERVIÇOS POSTAIS,0,NaN,CORREIOS - SEDEX CONVENCIONAL,000.000.000/0000-7,RSP : 2254215,1,2018-08-27T12:49:35,38.17,0,38.17,8,2018,0,NaN,NaN,0,0,NaN,NaN,733,0,NaN
23749,Dilceu Sperafico,11979216991,73768,452,2015,PR,PP,55,999,PASSAGEM AÉREA - RPA,0,NaN,Cia Aérea - TAM,020.128.620/0016-0,Bilhete: 957-2161.584334,0,2018-02-07T00:00:00,566.17,0,566.17,2,2018,0,Dilceu Sperafico,CWB/CGH/BSB,0,0,NaN,NaN,1001,1536859,NaN
32668,Wellington Roberto,26254166453,74043,136,2015,PB,PR,55,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,0,NaN,PLENA INFORMATICA LTDA,030.388.750/0017-0,1616,4,2018-02-21T00:00:00,418.40,0,418.40,2,2018,0,NaN,NaN,1466886,NaN,NaN,NaN,1703,6507899,https://www.camara.leg.br/cota-parlamentar/not...
189220,RONALDO NOGUEIRA,43529402087,163321,517,2015,RS,PTB,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,0,NaN,RESTAURANTE E LANCHERIA 23 LTDA,027.335.970/0010-9,030745,0,2018-03-09T00:00:00,33.00,0,33.00,3,2018,0,NaN,NaN,1478214,NaN,NaN,NaN,2428,6537271,https://www.camara.leg.br/cota-parlamentar/doc...
210981,HISSA ABRAHÃO,64440249272,178849,42,2015,AM,PDT,55,3,COMBUSTÍVEIS E LUBRIFICANTES.,1,Veículos Automotores,AUTO POSTO GASPETRO COMERCIO DE DERIVADOS DE P...,171.425.720/0061-2,597,4,2018-09-03T00:00:00,150.00,0,150.00,9,2018,0,NaN,NaN,1532001,NaN,NaN,NaN,3064,6679012,https://www.camara.leg.br/cota-parlamentar/not...
150607,Alceu Moreira,17968496004,160559,486,2015,RS,MDB,55,11,SERVIÇOS POSTAIS,0,NaN,CORREIOS - CARTA COMERCIAL,000.000.000/0000-7,RSP : 2239996,1,2018-04-02T17:05:12,14.80,0,14.80,4,2018,0,NaN,NaN,0,0,NaN,NaN,2379,0,NaN

### 4) Existem registros com `ideDocumento` nulo?

In [3]:
df2018["ideDocumento"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 292790 entries, 0 to 292789
Series name: ideDocumento
Non-Null Count   Dtype
--------------   -----
292790 non-null  object
dtypes: object(1)
memory usage: 2.2+ MB

### 5) Converta a coluna `datEmissao` para `datetime`, e descubra quantos reembolsos aconteram no primeiro semestre de 2018

In [5]:
df2018.datEmissao = pd.to_datetime(df2018.datEmissao, format="%Y-%m-%dT%H:%M:%S")

#### [Desafio Extra] Existem registros com `datEmissao` nulos? Se sim, quantos?

In [6]:
df2018.datEmissao.isnull().sum()

10043

#### [Desafio Extra] Existem registros de outros anos no arquivo de 2018? Se sim, quais anos e quantos registros há nessas datas?

In [7]:
import datetime as dt


df2018[df2018["datEmissao"].dt.year != 2018]["datEmissao"].dt.year.rename("Anos").value_counts(dropna=False).to_frame("Contagem")

        Contagem
Anos
NaN        10043
2019.0      1613
2017.0       179

### 6) Quais os meses que mais tem solicitação de reembolso?

In [8]:
df2018.datEmissao.dt.month_name().rename("Meses").value_counts(dropna=False).to_frame("Contagem")

           Contagem
Meses
March         31349
May           31099
April         29288
June          27448
July          24971
February      24232
November      23578
October       21670
December      20336
August        20323
January       17893
September     10560
NaN           10043

#### [Desafio Extra] Como seria para agrupar os dados no formato `mes/ano` , ao invés de apenas mês?

In [9]:
df2018["datEmissao"].groupby(by=[df2018["datEmissao"].dt.year.rename("Anos"), df2018["datEmissao"].dt.month.rename("Meses")], dropna=False).count().to_frame("Contagem")

              Contagem
Anos   Meses
2017.0 3.0           2
       7.0           2
       10.0          2
       11.0         15
       12.0        158
2018.0 1.0       16401
       2.0       24122
       3.0       31336
       4.0       29288
       5.0       31099
       6.0       27448
       7.0       24969
       8.0       20323
       9.0       10560
       10.0      21668
       11.0      23563
       12.0      20178
2019.0 1.0        1492
       2.0         110
       3.0          11
NaN    NaN           0

### 7) Limpe a coluna `txtCNPJCPF`: ela deve conter somente dígitos numéricos

In [10]:
# vamos trocar qualquer caracter que não seja um dígito número por '', essa operação remove os dígitos

# df_reimbursements["txtCNPJCPF"] = df_reimbursements...
df2018.txtCNPJCPF = df2018.txtCNPJCPF.str.replace(r"\D", "", regex=True)
df2018.txtCNPJCPF.sample(30)

186534    19658268000143
7743      17895646000187
268658    04711846000190
3490      02012862000160
124800    27644256000198
198623    58328758000133
94493     03482208000182
164937    02575829000148
97602     08730148000193
84011     00000000000007
186659    02575829000148
210756    00000000000006
149038    38076089000142
59837     07575651000159
121498    05977068000149
93926     07575651000159
191182    10473920000180
213030    07575651000159
126809    68060342000130
224697    09296295000160
130689    00000000000001
280247    07575651000159
149630    07575651000159
253526    07575651000159
6110      02012862000160
120097    02012862000160
116766    00000000000007
49971     11006687000199
74507     09296295000160
277395    00000000000007
Name: txtCNPJCPF, dtype: object

### 8) Quais são os valores únicos do campo `indTipoDocumento`? Substitua o conteúdo pela respectiva legenda

*Dica*: 0 (Zero), para Nota Fiscal; 1 (um), para Recibo; e 2, para Despesa no Exterior.

In [11]:
df2018.indTipoDocumento.unique()

array(['4', '0', '1', '2', '3'], dtype=object)

In [12]:
converters = {"0": "nota_fiscal", "1": "recibo", "2": "despesa_exterior"}
df2018.indTipoDocumento.replace(converters, inplace=True)
df2018.indTipoDocumento.unique()

array(['4', 'nota_fiscal', 'recibo', 'despesa_exterior', '3'],
      dtype=object)

### [Desafio Extra] 9) Agrupe o valor total de despesas por fornecedor, mês e ano. Você encontrou algum padrão?

In [13]:
df2018["vlrLiquido"].groupby(by=[df2018.txtFornecedor.rename("Fornecedor"), df2018.datEmissao.dt.month.rename("Mês"),  df2018.datEmissao.dt.year.rename("Ano")]).sum().sort_values(ascending=False).to_frame("Valor Líquido").head(15)

                             Valor Líquido
Fornecedor      Mês  Ano
Cia Aérea - GOL 10.0 2018.0     2502925.52
                11.0 2018.0     2497405.47
Cia Aérea - TAM 11.0 2018.0     2241271.59
                10.0 2018.0     2113908.99
Cia Aérea - GOL 3.0  2018.0     2060594.25
                5.0  2018.0     2042906.57
Cia Aérea - TAM 3.0  2018.0     1948712.47
                5.0  2018.0     1923575.38
Cia Aérea - GOL 4.0  2018.0     1874972.70
                7.0  2018.0     1853015.07
                8.0  2018.0     1759640.03
Cia Aérea - TAM 4.0  2018.0     1742572.82
                8.0  2018.0     1679026.14
Cia Aérea - GOL 12.0 2018.0     1656338.27
Cia Aérea - TAM 12.0 2018.0     1643291.82

### [Desafio Extra] 10) Quais os 10 parlamentares que mais solicitaram reembolso?

In [14]:
df2018.txNomeParlamentar.groupby(by=df2018.txNomeParlamentar.rename("Nomes")).count().to_frame("Contagem").sort_values(by="Contagem", ascending=False).head(10)

                     Contagem
Nomes
Diego Garcia             1931
JORGE TADEU MUDALEN      1753
Capitão Augusto          1668
Henrique Fontana         1483
Dimas Fabiano            1409
Pedro Uczai              1408
Jorge Solla              1395
Miguel Lombardi          1385
Zeca Dirceu              1358
Maria do Rosário         1333

#### [Desafio Extra] Como ficaria a resposta, caso queiramos saber quais os seus estados e partidos?

In [15]:
df2018.txNomeParlamentar.groupby(
    by=[df2018.txNomeParlamentar.rename("Nomes"),
    df2018.sgUF.rename("Estado"),
    df2018.sgPartido.rename("Partido")]
    ).count().to_frame("Contagem").sort_values(by="Contagem", ascending=False).head(10)

                                    Contagem
Nomes               Estado Partido
Diego Garcia        PR     PODE         1931
JORGE TADEU MUDALEN SP     DEM          1753
Capitão Augusto     SP     PR           1668
Henrique Fontana    RS     PT           1483
Dimas Fabiano       MG     PP           1409
Pedro Uczai         SC     PT           1408
Jorge Solla         BA     PT           1395
Miguel Lombardi     SP     PR           1385
Zeca Dirceu         PR     PT           1358
Maria do Rosário    RS     PT           1333

### [Desafio Extra] 11) Quais os partidos e os estados que mais solicitaram reembolso?

In [18]:
df2018.sgUF.groupby(
    by=[df2018.sgPartido.rename("Partidos"),
        df2018.sgUF.rename("Estados"),]
).count().to_frame("Contagem").sort_values(by="Contagem", ascending=False).head(30)

                  Contagem
Partidos Estados
PSDB     SP           9989
PT       RS           7538
         SP           6917
PP       MG           5314
PT       BA           5286
         MG           4827
PR       SP           4585
PP       RS           4571
PSDB     MG           4444
MDB      SC           4397
DEM      SP           3842
PRB      SP           3740
DEM      RJ           3574
MDB      RS           3497
PSD      BA           3465
PSB      PE           3176
PR       MG           3105
PSD      RJ           3046
MDB      MG           2961
PSD      PR           2755
MDB      SP           2598
PP       BA           2595
         PR           2570
PR       RJ           2513
PSD      MG           2510
PT       RJ           2415
         SC           2391
MDB      PR           2356
DEM      MG           2211
PP       PE           2209

### [Desafio Extra] 12) Recupere os reembolsos de 2019 e acrescente aos dados de 2018

In [19]:
# Baixando os dados de 2019
df2019 = pd.read_csv(f"http://www.camara.leg.br/cotas/Ano-2019.csv.zip", sep=";", compression="zip", dtype=DTYPE)

# Limpando os dados de 2019
df2019.datEmissao = pd.to_datetime(df2019.datEmissao, format="%Y-%m-%dT%H:%M:%S") # ajustando a coluna "datEmissao" para datetime

df2019.txtCNPJCPF = df2019.txtCNPJCPF.str.replace(r"\D", "", regex=True) # limpando caracteres da coluna "txtCNPJCPF" que não sejam dígitos

df2019.indTipoDocumento.replace(converters, inplace=True) # convertendo os dígitos da coluna "indTipoDocumento" para seus nomes por extenso

In [22]:
# concatenando os dataframes de 2018 e 2019
df = pd.concat(objs=[df2018, df2019], ignore_index=True, keys=["2018", "2019"])

### [Desafio Extra] 13) Responda novamente as questões 9, 10 e 11. Houve alguma mudança nos resultados?

In [31]:
# Desafio 9: agrupar o valor total de despesas por fornecedor, mês e ano. 
df["vlrLiquido"].groupby(by=[df.txtFornecedor.rename("Fornecedor"), df.datEmissao.dt.month.rename("Mês"),  df.datEmissao.dt.year.rename("Ano")]).sum().sort_values(ascending=False).to_frame("Valor Líquido").head(15)

                             Valor Líquido
Fornecedor      Mês  Ano
Cia Aérea - TAM 5.0  2019.0     2639382.96
                4.0  2019.0     2628222.82
                2.0  2019.0     2627533.35
Cia Aérea - GOL 8.0  2019.0     2590982.64
                10.0 2019.0     2543745.80
                     2018.0     2502925.52
                11.0 2018.0     2497405.47
Cia Aérea - TAM 10.0 2019.0     2345078.00
Cia Aérea - GOL 5.0  2019.0     2333780.91
Cia Aérea - TAM 8.0  2019.0     2264387.35
                11.0 2018.0     2241271.59
                3.0  2019.0     2149116.09
Cia Aérea - GOL 4.0  2019.0     2147877.73
Cia Aérea - TAM 10.0 2018.0     2113908.99
Cia Aérea - GOL 9.0  2019.0     2112975.98

In [33]:
# Desafio 10: os 10 parlamentares que mais solicitaram reembolso e seus partidos
df.txNomeParlamentar.groupby(
    by=[df.txNomeParlamentar.rename("Nomes"),
    df.sgUF.rename("Estado"),
    df.sgPartido.rename("Partido")]
    ).count().to_frame("Contagem").sort_values(by="Contagem", ascending=False).head(10)

                                 Contagem
Nomes            Estado Partido
Zeca Dirceu      PR     PT           2989
Maria do Rosário RS     PT           2873
Jorge Solla      BA     PT           2820
Henrique Fontana RS     PT           2808
Dimas Fabiano    MG     PP           2739
Pedro Uczai      SC     PT           2608
Vitor Lippi      SP     PSDB         2425
Bohn Gass        RS     PT           2373
Glauber Braga    RJ     PSOL         2287
Afonso Hamm      RS     PP           2230

In [34]:
# Desafio 11: os partidos e os estados que mais solicitaram reembolso
df.sgUF.groupby(
    by=[df.sgPartido.rename("Partidos"),
        df.sgUF.rename("Estados"),]
).count().to_frame("Contagem").sort_values(by="Contagem", ascending=False).head(30)

                      Contagem
Partidos     Estados
PSDB         SP          15688
PT           SP          13349
             RS          12996
             MG          10859
             BA          10291
PP           MG           9718
PL           SP           8964
PP           RS           7562
PSD          RJ           7312
MDB          SC           6951
PSB          PE           6693
PSD          BA           6616
MDB          RS           6611
PP           PR           6579
PSD          PR           6516
PSDB         MG           6323
PDT          CE           5636
PSD          MG           5197
REPUBLICANOS SP           5064
UNIÃO        SP           4926
PR           SP           4832
PP           BA           4794
PL           RJ           4686
PT           PR           4518
PDT          RS           4174
MDB          MG           4143
UNIÃO        RJ           4113
MDB          SP           4046
PP           RJ           4029
DEM          SP           4023