<a href="https://colab.research.google.com/github/anicelysantos/oficina-codabr21/blob/main/oficina_codabr21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Programação do zero a prática: Primeiros passos com Python** 🐍🎲🐼

## Notebooks 💻



*   O que são
*   Como funcionam
*   Mini tour pelos principais lugares
*   Erros comuns:
  *  Congelar a célula
  *  Erro na célula

## Python, bem basiquinho 🐍

### Agenda

*    O que é o Python
*    Comentários
*    Import
  *  Zen do Python
*    Tipos de dados
  *  Type
  *  String
      *  Funções
  *  Números 
  *  Booleanos
*    Variável
*    Método
*    Função Print
* Coleção de dados
  *  Listas
  * Dicionários
* For
* If e Else

### Import

In [1]:
#Zen do Python
# import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### String

In [ ]:
#'Olá Mundo'

In [ ]:
#"Olá, pessoal!"

In [ ]:
#'Quinta'+'-'+'Feira'

In [ ]:
#type('Oie')

In [ ]:
#Qual a diferença?
#2+3 / '2'+'3'

### Números

In [ ]:
#Inteiros
#type(21)

In [ ]:
# type(21.2)

**Operações matemáticas**

In [ ]:
#Soma
#2 + 2

In [ ]:
#Subtração
#2-2

In [ ]:
#Divisão
#2/2

In [ ]:
#Multiplicação
#2*2

In [ ]:
#Potência
#2**2

In [ ]:
#Qual o resultado?
2+4/2

### Booleano

In [ ]:
type(False)

In [ ]:
type(True)

### Variáveis

In [ ]:
#numero = 35

**Operadores lógicos**

In [ ]:
#Comparação
#numero == 34

In [ ]:
#Diferente
#numero != 15

In [ ]:
#Maior que
#2 > 4

In [ ]:
#Menor que
#2 < 4

In [ ]:
#Maior igual
#numero >= 8

In [ ]:
#Menor igual
#numero <= 100

### Métodos

In [ ]:
#minha_fruta =  'banana'

In [ ]:
#minha_fruta.upper()

In [ ]:
#minha_fruta.lower()

In [ ]:
#minha_fruta.count('a')

In [ ]:
#bebida = 'água de coco'
#bebida

In [ ]:
#Separar
#bebida.split()

In [ ]:
#Métodos encandeados
#bebida.upper().split()

In [ ]:
#Mudanças na String
#bebida_grande = bebida.upper().split()
#bebida_grande

### Print

In [ ]:
#print('bom dia')

In [ ]:
#evento = 'Coda'

In [ ]:
#print(f'bom dia, {evento}')

###Listas

In [ ]:
#frutas = ['pera', 'uva', 'maçã','laranja']

In [ ]:
#Pegar o segundo elemento
#frutas[2]

In [ ]:
#Pegar o último elemento
#frutas[-1]

**Fatiamento de listas**

In [ ]:
#frutas[0:2]

In [ ]:
#frutas[:1]

In [ ]:
#frutas[3:]

In [ ]:
#Tamanho de uma lista
#len(frutas)

In [ ]:
#Incluir um item
#frutas.append('melancia')

In [ ]:
#Excluir um item
#frutas.pop()

###Dicionário

In [ ]:
salada_de_frutas = {'ingredientes': frutas,
                    'preparo':'corte tudo e misture',
                    'tempo':60
                    }

In [ ]:
#pegar um item
#salada_de_frutas['ingredientes']

In [ ]:
#adicionar item 
#salada_de_frutas['porções'] = 7

In [ ]:
#excluir item
del salada_de_frutas['tempo']

### Estrutura de repetição `For`

In [ ]:
#iterando em listas
for fruta in frutas:
  print(fruta)

In [ ]:
#Pegar as chaves do dicionário
for chave in salada_de_frutas:
  print(chave)

In [ ]:
#Pegar valor das chaves no dicionário
for chave in salada_de_frutas:
  print(salada_de_frutas[chave])

In [ ]:
#Iterando em elementos de uma string
for letra in evento:
  print(letra)

### Estrutura condicional `if`

In [ ]:
if 4 > 3:
  print('É maior sim!')

In [ ]:
if 4 >= 7:
  print('É maior sim!')
else:
  print('Claro que não!')

In [4]:
idade = 21

if idade > 30:
  print('Sou adulto')
elif idade > 19 and idade <= 30:
  print('sou jovem')
else:
  print('sou adolas')

sou jovem

## Pandas 🐼🎲

*  Importar o pandas
*  Carga de dados
*  Detalhando os dados
*  Organizando os dados
*  Filtrando os dados
*  Agrupando e agregando
*  Exportando

### Importar a `Biblioteca`

In [5]:
import pandas as pd

### Carga de dados

In [6]:
df_empresas = pd.read_csv('https://raw.githubusercontent.com/anicelysantos/oficina-codabr21/main/empresas_trabalho_escravo.csv')

### Detalhando os dados

In [7]:
df_empresas.head(10)

,Ano,Operação,Dia/Mês,UF,Município,CNAE,Descrição CNAE,Proprietário,CNPJ/CEI/CPF,Estabelecimento Inspecionado,Nº Trab. cond. analog escravo
0,2010,1,19/01/2010 a 29/01/2010,GO,MONTE ALEGRE DE GOIÁS,0151201,CRIAÇÃO DE BOVINOS P,THIAGO NEIVA HONORATO\n,330874152,FAZENDA JOÃO LUIZ,3
1,2010,1,19/01/2010 a 29/01/2010,GO,MONTE ALEGRE DE GOIÁS,0151201,CRIAÇÃO DE BOVINOS P,RENIUTON SOUZA DE MORAES\n,24845256134,FAZENDA OLHO D'ÁGUA,5
2,2010,1,19/01/2010 a 29/01/2010,TO,NATIVIDADE,0151201,CRIAÇÃO DE BOVINOS P,EMIVAL RAMOS CAIADO FILHO\n,9655298191,FAZENDA SANTA MÔNICA,26
3,2010,2,26/01/2010 a 05/02/2010,PA,MARABÁ,0151202,CRIAÇÃO DE BOVINOS P,HÉLIO DUARTE SOARES\n,4454931860,FAZENDA BOA SORTE,2
4,2010,3,27/01/2010 a 05/02/2010,PA,SANTA MARIA DAS BARREIRAS,0151201,CRIAÇÃO DE BOVINOS P,CSM AGROPECUÁRIA S.A\n(FAZENDA TARUMÃ),5303431000221,CSM AGROPECUÁRIA S.A\n(FAZENDA TARUMÃ),28
5,2010,4,23/12/2010 a 29/01/2010,MG,ARAGUARI,0119999,CULTIVO DE OUTRAS PL,PEDRO EUSTÁQUIO PELLEGRINI\n,35048328604,FAZENDA CUNHAS,14
6,2010,5,23/02/2010 a 05/03/2010,PA,CONCEIÇÃO DO ARAGUAIA,0151201,CRIAÇÃO DE BOVINOS P,ANTÔNIO MARTINS RIBEIRO\n,13521519104,FAZENDA SÃO PEDRO,4
7,2010,7,22/01/2010 a 18/02/2010,AC,PORTO ACRE,0151202,CRIAÇÃO DE BOVINOS P,ROQUE REIS BARREIROS JÚNIOR\n,33954305291,FAZENDA HARMONIA,8
8,2010,8,02/03/2010 a 08/03/2010,RO,PORTO VELHO,0151201,CRIAÇÃO DE BOVINOS P,JOÃO ALTAIR CAETANO DOS SANTOS\n,36841323904,FAZENDA RANCHO COLORADO,8
9,2010,9,03/03/2010 a 09/03/2010,RS,BOM JESUS,0119903,CULTIVO DE BATATA-IN,PAULO CEZAR SEGALA\n,73466778034,PAULO CEZAR SEGALA\n,24

In [8]:
df_empresas.sample(3)

,Ano,Operação,Dia/Mês,UF,Município,CNAE,Descrição CNAE,Proprietário,CNPJ/CEI/CPF,Estabelecimento Inspecionado,Nº Trab. cond. analog escravo
418,2012,51,08/05/2012 a 16/05/2012,GO,INDIARA,4211101,CONSTRUÇÃO DE RODOVI,CONSTRUTORA CENTRAL DO BRASIL S.A,2156313000169,CCB CONSTRUTORA,4
1041,2017,89,09/08/2017 a 27/09/2017,CE,CAUCAIA,0220901,EXTRAÇÃO DE MADEIRA,FANCISCO VALDECI DE ARAUJO,97191310391,FAZENDA LAGOA DO MATO,7
712,2014,45,26/05/2014 a 30/05/2014,GO,CALDAS NOVAS,0899199,EXTRAÇÃO DE OUTROS M,AGENOR TIBÚRCIO DA SILVA,37505696149,FAZENDA BAGRE,3

In [9]:
df_empresas.tail(3)

,Ano,Operação,Dia/Mês,UF,Município,CNAE,Descrição CNAE,Proprietário,CNPJ/CEI/CPF,Estabelecimento Inspecionado,Nº Trab. cond. analog escravo
1384,2020,189,01/12/2020 a 12/01/2021,PA,RONDON DO PARÁ,4671100,COMÉRCIO ATACADISTA,GUAMA COMÉRCIO DE COMPENSADOS E REPRESENTAÇÕES...,8724077000205,"FAZENDA MOREIRA, 4º31’16.4’’S – 48º15’03.2’’W,...",13
1385,2020,190,26/11/2020 a 15/12/2020,PI,PARNAÍBA,1529700,FABRICAÇÃO DE ARTEFA,NR N SANTOS ME,63346605000159,CASA DOS COUROS,1
1386,2020,195,03/12/2020 a 13/01/2021,MS,NIOAQUE,0115600,CULTIVO DE SOJA,MAISA RODRIGUES DA COSTA,1385847107,FAZENDA SALTO,15

In [10]:
#resumo estatístico
df_empresas.describe()

               Ano     Operação  CNPJ/CEI/CPF  Nº Trab. cond. analog escravo
count  1387.000000  1387.000000  1.387000e+03                    1387.000000
mean   2014.268926    77.988464  6.471429e+12                      13.744773
std       3.175335    49.190898  1.543392e+13                      26.791397
min    2010.000000     1.000000  9.889597e+06                       1.000000
25%    2011.000000    36.000000  1.608456e+10                       4.000000
50%    2014.000000    73.000000  5.550614e+10                       7.000000
75%    2017.000000   116.000000  5.626995e+12                      14.000000
max    2020.000000   261.000000  9.702967e+13                     433.000000

In [11]:
#Quantidade de linhas e colunas
df_empresas.shape

(1387, 11)

In [12]:
#Nome das colunas e tipos de dados
df_empresas.dtypes

Ano                               int64
Operação                          int64
Dia/Mês                          object
UF                               object
Município                        object
CNAE                             object
Descrição CNAE                   object
Proprietário                     object
CNPJ/CEI/CPF                      int64
Estabelecimento Inspecionado     object
Nº Trab. cond. analog escravo     int64
dtype: object

In [13]:
#Nome das colunas
df_empresas.columns

Index(['Ano', 'Operação', 'Dia/Mês', 'UF', 'Município', 'CNAE',
       'Descrição CNAE', 'Proprietário', 'CNPJ/CEI/CPF',
       'Estabelecimento Inspecionado', 'Nº Trab. cond. analog escravo'],
      dtype='object')

### Organizando os dados

In [14]:
#Ordena os dados
df_empresas.sort_values('UF')

,Ano,Operação,Dia/Mês,UF,Município,CNAE,Descrição CNAE,Proprietário,CNPJ/CEI/CPF,Estabelecimento Inspecionado,Nº Trab. cond. analog escravo
789,2014,145,18/11/2014 a 19/12/2014,AC,RIO BRANCO,0151201,CRIAÇÃO DE BOVINOS P,FELIPE JOEL VERAS PINHEIRO,86784552253,ARRENDAMENTO DA FAZENDA ESTANCIA GUANABARA,15
685,2014,21,11/03/2014 a 21/03/2014,AC,SENA MADUREIRA,1092900,FABRICAÇÃO DE BISCOI,MIRAGINA S/A INDÚSTRIA E COMÉRCIO,4063681000198,FAZENDA MIRAGINA I,1
698,2014,33,29/07/2014 a 08/08/2014,AC,TARAUACÁ,0151201,CRIAÇÃO DE BOVINOS P,JOSÉ TELES DE OLIVEIRA FILHO,62069268268,FAZENDA PORTO ALEGRE,55
726,2014,67,22/04/2014 a 17/07/2014,AC,RIO BRANCO,0151201,CRIAÇÃO DE BOVINOS P,AMANDIO CELESTINO COGO,12029939900,ARRENDAMENTO DA FAZENDA PERSEVERANÇA,3
921,2016,22,29/03/2016 a 08/04/2016,AC,RIO BRANCO,0151201,CRIAÇÃO DE BOVINOS P,LEANDRO LUIS LEITE,9817623874,FAZENDA CORREGO DO OURO,7
...,...,...,...,...,...,...,...,...,...,...,...
399,2012,37,09/04/2012 a 27/04/2012,TO,DIANÓPOLIS,0220902,PRODUÇÃO DE CARVÃO V,CLÁUDIO ROBERTO MARTIN,4689364915,FAZENDA MORADA VERDE,9
400,2012,37,09/04/2012 a 27/04/2012,TO,PRESIDENTE KENNEDY,0220902,PRODUÇÃO DE CARVÃO V,CARVOARIA CARVÃO NATIVO LTDA,14227279000155,FAZENDA SÃO CRISTÓVÃO I,13
401,2012,37,09/04/2012 a 27/04/2012,TO,CRISTALÂNDIA,0220902,PRODUÇÃO DE CARVÃO V,SÉRGIO ANTÔNIO NASCIMENTO,19978294600,FAZENDA SCALA II,7
205,2011,38,02/02/2011 a 15/03/2011,TO,CONCEIÇÃO DO TOCANTINS,0210108,PRODUÇÃO DE CARVÃO V,GERALDO OTAVIANO MENDES -,90929829620,CARVOARIA TEIXEIRA,6
841,2015,74,17/11/2015 a 27/11/2015,TO,BERNARDO SAYÃO,0151201,CRIAÇÃO DE BOVINOS P,AGROPECUÁRIA TERRA GRANDE S/A,1432186000110,AGROPECUÁRIA TERRA GRANDE S/A,15

In [15]:
#ordena decrescentemente
df_empresas.sort_values('UF', ascending=False)

,Ano,Operação,Dia/Mês,UF,Município,CNAE,Descrição CNAE,Proprietário,CNPJ/CEI/CPF,Estabelecimento Inspecionado,Nº Trab. cond. analog escravo
863,2015,103,16/07/2015 a 22/07/2015,TO,PORTO NACIONAL,0220902,PRODUÇÃO DE CARVÃO V,LUCIANO ROSA DO NASCIMENTO,51873702949,FAZENDA CASTELO,9
553,2013,43,21/05/2013 a 31/05/2013,TO,COLMÉIA,0151201,CRIAÇÃO DE BOVINOS P,PAULO VICENTE DA MOTA,23248823100,FAZENDA ESTAÇÃO,16
149,2010,125,30/11/2010 a 09/12/2010,TO,ARAGUACEMA,0151201,CRIAÇÃO DE BOVINOS P,NEWTON OLIVEIRA,2513595159,"FAZENDAS DA BEZERRA, PAU BRASIL, SÃO JOSÉ, GAR...",33
834,2015,62,02/10/2015 a 09/10/2015,TO,BABAÇULÂNDIA,0220901,EXTRAÇÃO DE MADEIRA,CERÂMICA CERMAR,3894214000147,FAZENDA PARAISO,2
686,2014,22,16/04/2014 a 30/04/2014,TO,NATIVIDADE,0151201,CRIAÇÃO DE BOVINOS P,FABIANO IAMAGUTI MAEDA E OUTROS,11912555816,FAZENDA ESPERANÇA,6
...,...,...,...,...,...,...,...,...,...,...,...
789,2014,145,18/11/2014 a 19/12/2014,AC,RIO BRANCO,0151201,CRIAÇÃO DE BOVINOS P,FELIPE JOEL VERAS PINHEIRO,86784552253,ARRENDAMENTO DA FAZENDA ESTANCIA GUANABARA,15
337,2011,151,23/08/2011 a 22/11/2011,AC,FEIJÓ,0151201,CRIAÇÃO DE BOVINOS P,RUI PINTO,73757187768,FAZENDA MASSIPIRA,7
252,2011,69,11/05/2011 a 07/06/2011,AC,PLÁCIDO DE CASTRO,0151201,CRIAÇÃO DE BOVINOS P,FERNANDO BARBOSA TEIXEIRA -,61773930125,FAZENDA VALE VERDE,8
7,2010,7,22/01/2010 a 18/02/2010,AC,PORTO ACRE,0151202,CRIAÇÃO DE BOVINOS P,ROQUE REIS BARREIROS JÚNIOR\n,33954305291,FAZENDA HARMONIA,8
557,2013,47,12/04/2013 a 09/05/2013,AC,RIO BRANCO,0151201,CRIAÇÃO DE BOVINOS P,MOZAR MARCONDES FILHO,33574090978,FAZENDA AGOPECUÁRIA SORRISO,13

In [ ]:
#As 10 primeiras linhas
df_empresas.sort_values('UF').head(10)

In [ ]:
#Ordenas por mais de uma coluna
df_empresas.sort_values(['UF','Ano'])

### Filtrando os dados

**Filtro de coluna**

In [ ]:
df_empresas.UF

In [ ]:
df_empresas['Município']

In [ ]:
df_empresas['Descrição CNAE'].unique()

In [ ]:
#Contar valores
df_empresas['Município'].value_counts()

Para colunas numérias:

*  `min()` pega o menor valor
*  `max()` pega o maior valor
*  `median()` pega a mediana
*  `mean()` pega a média
*  `mode()` pega o valor mais comum

In [ ]:
df_empresas['Nº Trab. cond. analog escravo'].max()

In [ ]:
df_empresas[df_empresas.UF == 'PE']

**Filtro de linha**

In [ ]:
df_empresas[df_empresas['Nº Trab. cond. analog escravo'] > 10]

In [ ]:
df_empresas[df_empresas.Ano > 2017]

In [ ]:
#Filtros compostos

acima_dez_libertos = df_empresas[df_empresas['Nº Trab. cond. analog escravo'] > 10]

acima_dez_libertos[df_empresas.Ano > 2017].head()

### Agrupar e agregar dados

In [ ]:
df_empresas.groupby('Ano')

In [ ]:
df_empresas.groupby('Ano').sum()

In [ ]:
df_empresas[['Ano','Nº Trab. cond. analog escravo']].groupby('Ano').sum().sort_values('Nº Trab. cond. analog escravo', ascending=False)

### Bora Investigar? 🔎🕵🏾‍♀️

In [ ]:
#Total de pessoas em libertas do trabalho escravo de 2010 a 2020
df_empresas['Nº Trab. cond. analog escravo'].sum()

In [ ]:
#rancking de empresas (CNAE)
df_empresas['Descrição CNAE'].value_counts().head(5)

In [ ]:
#Qual os 10 estados com mais operações

df_empresas[['UF','Operação']].groupby('UF').sum().sort_values('Operação', ascending=False).head(10)

In [ ]:
#Ano em que mais houve altuação
df_empresas[['Ano','Operação']].groupby('Ano').sum().sort_values('Operação', ascending=False)

In [ ]:
#Numero total de pessoas libertas através dos anos por estado
df_empresas[['UF','Nº Trab. cond. analog escravo']].groupby('UF').sum().sort_values('Nº Trab. cond. analog escravo', ascending=False)

In [ ]:
#Qual ano que mais houveram pessoas libertadas
df_empresas[['Ano','Nº Trab. cond. analog escravo']].groupby('Ano').sum().sort_values('Nº Trab. cond. analog escravo', ascending=False)

### Saaalvandooo 💾

In [ ]:
df_empresas.to_csv('meu_arquivo.csv', index=False)

# **MilkShake dos Dados** 🥤

### Agenda

*  Importar requests (interação com sites e APIs) e querido_diario_toolbox (utilitários do QD)
*  Indentificar apenas os CNPJs dentre CNPJs, CEIs e CPFs
*  Buscar CNPJs no Querido Diário
*  Cruzar nossa base de dados com a da Receita Federal usando o Minha Receita

### Imports

In [ ]:
# Se não tiver o querido-diario-toolbox instalado (no Google Colab não tem), execute essa célula
!apt-get install libmagic-dev
!pip install --ignore-requires-python querido-diario-toolbox

In [ ]:
import requests
from querido_diario_toolbox.process.edition_process import is_valid_cnpj

### Identificando CNPJs

In [ ]:
df_empresas['CNPJ/CEI/CPF']

In [ ]:
# Observando o tipo da coluna
df_empresas['CNPJ/CEI/CPF'].dtype

In [ ]:
# A função de checar se é um CNPJ válido pede uma string (ou "object", como o pandas gosta de chamar)
df_empresas['CNPJ/CEI/CPF'].apply(is_valid_cnpj)

In [ ]:
# Convertendo tipo da coluna
df_empresas['CNPJ/CEI/CPF'] = df_empresas['CNPJ/CEI/CPF'].astype('str')
df_empresas['CNPJ/CEI/CPF'].apply(is_valid_cnpj)

In [ ]:
# Filtrando DataFrame apenas pelas linhas que tem empresas com CNPJ válido
df_empresas = df_empresas[df_empresas['CNPJ/CEI/CPF'].apply(is_valid_cnpj)]

### Buscando CNPJs no Querido Diário

In [ ]:
# Selecionando linha específica
df_empresas['CNPJ/CEI/CPF'].iloc[20]

In [ ]:
# Inserindo código dentro de uma string com f-strings
url = f"https://queridodiario.ok.org.br/api/gazettes/?keywords={df_empresas['CNPJ/CEI/CPF'].iloc[20]}&size=10&fragment_size=1000&pre_tags=@@@&post_tags=@@@"
url

In [ ]:
# Com requests, fica fácil fazer requisições para qualquer site na internet e assim podemos interagir com a API do QD
response = requests.get(url)
response.json()

In [ ]:
# Repetindo a busca no QD para todos os CNPJs
ocorrencias = []
for cnpj in df_empresas['CNPJ/CEI/CPF']:
    url = f"https://queridodiario.ok.org.br/api/gazettes/?keywords={cnpj}&size=10&fragment_size=1000"
    response_json = requests.get(url).json()
    ocorrencia = {'cnpj': cnpj, 'n_ocorrencias': response_json['total_gazettes']}
    ocorrencias.append(ocorrencia)

# Criando um DataFrame a partir de uma lista de dicionários (ocorrencias)
ocorrencias_por_cnpj = pd.DataFrame(ocorrencias)
ocorrencias_por_cnpj

In [ ]:
n_ocorrencias_positivo = ocorrencias_por_cnpj[ocorrencias_por_cnpj['n_ocorrencias'] > 0]
n_ocorrencias_positivo

In [ ]:
# Podemos excluir linhas duplicadas
n_ocorrencias_positivo = n_ocorrencias_positivo.drop_duplicates()
n_ocorrencias_positivo

In [ ]:
# Também podemos visualizar em gráfico!
n_ocorrencias_positivo.plot.barh(x='cnpj')

In [ ]:
n_ocorrencias_positivo['cnpj'].iloc[0]

### Cruzando dados com a RFB usando Minha Receita

In [ ]:
url = f"https://minhareceita.org/{n_ocorrencias_positivo['cnpj'].iloc[0]}"
response = requests.get(url)
response.json()

In [ ]:
cnpj_infos = []
for cnpj in n_ocorrencias_positivo['cnpj']:
    url = f"https://minhareceita.org/{cnpj}"
    response_json = requests.get(url).json()
    cnpj_infos.append(response_json)
    
cnpj_infos = pd.DataFrame(cnpj_infos)
cnpj_infos

In [ ]:
# Quando temos colunas com a mesma informação em dois DataFrames, podemos mesclá-los
cnpj_infos = n_ocorrencias_positivo.merge(cnpj_infos, left_on='cnpj', right_on='cnpj')
cnpj_infos

In [ ]:
# E isso pode ser repetido até cruzarmos todas as informações que coletamos
cnpj_infos.merge(df_empresas, left_on='cnpj', right_on='CNPJ/CEI/CPF')